[bumpversion]
current_version = 1.0.0
commit = False
tag = False

[bumpversion:file:kc_client_init.go]
search = const Version = "{current_version}"
replace = const Version = "{new_version}"

[bumpversion:file:.github/bakefile_variants.py]
search = ghcr.io/pvarki/kc_client_init:{current_version}
replace = ghcr.io/pvarki/kc_client_init:{new_version}
